.container {
    width: 100%;
    position: fixed;
    padding: 5px;
    bottom: 50px;
    /* Height of the footer*/
    height: 70px;
    background: lightblue;
  }
  .container > p {
    text-align: center;
    color: black;
  }